extends ../shared/template
block content
  h2 Add A Treasure
  .panel.panel-default
    .panel-body
      form(role='form', method='post', action='/treasures', enctype='multipart/form-data')
        .row
          .col-xs-6
            .form-group
              label Treasure Name
              input.form-control(type='text', placeholder='Blood Diamonds', name='name')
            .form-group
              label Location
              input.form-control(type='text', name='loc', data-loc='name', placeholder='Las Vegas, NV')
              input.form-control(type='hidden', name='loc', data-loc='lat')
              input.form-control(type='hidden', name='loc', data-loc='lng')
            .form-group#hints
              label Hints
              input.form-control(type='text', placeholder='Prof. Plum, in the study, with the wrench', name='hints')
            button#addHint.btn.btn-primary.btn-lg(type='button') Add Hint
          .col-xs-6
            .form-group
              label Pics or it didn't happen
              input.form-control(type='file',name='photos', multiple=true)
            .form-group
              label Difficulty
              select.form-control(name='difficulty')
                option(value='1') Easy
                option(value='2') Medium
                option(value='3') Hard
            .form-group
              label Tags
              input.form-control(type='text', placeholder='tag 1, tag 2, tag 3', name='tags')
            .form-group
              label(for='order') Order
              input.form-control(type='number', name='order', value='#{order}', readonly=true)
            button.btn.btn-primary.btn-lg(type='submit') Submit

block scripts
  script(src='/js/user/new-treasures.js')

